.genre__main
    background-color: #3c3354
    min-height: 100vh

.genre__container
    margin: 60px auto 0 auto
    max-width: 1280px
.genre__movies
    display: flex
    flex-wrap: wrap
    list-style: none
    padding: 0
    justify-content: center
.genre__item
    margin-top: 20px

.genre__title
    text-align: center
    padding-top: 20px
    color: white
    font-family: Roboto, monospace