@import "./Directory.css";
@import "./genre.css";
@import "./Home.css";
@import "../components/GenreList/GenreList.css";
@import "../components/layouts/HeaderLayout.css";
@import "../components/MovieRow/MovieRow.css";
@import "../components/MovieItem/MovieItem.css";
@import "../components/SearchInput/SearchInput.css";
@import "./Movie.css";
@import "./Search.css";
@import "../components/ModalPopup/ModalPopup.css";
@import "./Personal.css";
@import "../components/PersonalItem/PersonalItem.css";

*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #dddbdb;
}